<li
  class="relative"
  x-data="{ dropdownOpen: false }"
  @click.outside="dropdownOpen = false"
>
  <a
    href="#"
    class="relative h-10 w-10 flex items-center justify-center rounded-full border border-gray-200 dark:border-gray-800"
    @click.prevent="dropdownOpen = !dropdownOpen"
  >
    <svg
      class="fill-gray-500 hover:fill-gray-600 dark:fill-gray-400 dark:hover:fill-gray-300"
      width="22"
      height="22"
      viewBox="0 0 22 22"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.7441 19.8242C9.98064 19.8242 9.35165 19.1952 9.35165 18.4318V17.0393C9.35165 16.5925 9.00685 16.2477 8.56015 16.2477C7.43232 16.2477 6.47141 15.6599 5.86064 14.733C5.55627 14.269 5.80785 13.6335 6.40224 13.4309C8.94902 12.5699 9.35165 10.4284 9.35165 9.17646V7.08587C9.35165 4.39719 11.4554 2.14925 14.1441 2.50293C16.505 2.81206 18.2573 4.88725 18.2573 7.42083V9.52187C18.2573 11.1396 18.7303 12.8719 20.3546 13.4309C20.9492 13.6337 21.2009 14.2693 20.8967 14.7333C20.2862 15.66 19.3253 16.2477 18.1975 16.2477C17.7507 16.2477 17.4059 16.5925 17.4059 17.0393V18.4318C17.4059 19.1952 16.7769 19.8242 16.0135 19.8242H10.7441Z"
        stroke=""
        stroke-width="1.5"
        stroke-linecap="round"
      />
      <path
        d="M11.9669 20.1039C11.5317 21.3653 10.0219 21.3653 9.58671 20.1039"
        stroke=""
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <span
      class="bg-error-500 absolute -right-0.5 -top-0.5 z-10 h-2 w-2 rounded-full"
    ></span>
  </a>

  <div
    x-show="dropdownOpen"
    x-transition:enter="transition ease-out duration-200"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    class="shadow-theme-lg dark:bg-gray-dark absolute -right-2 mt-[17px] flex w-[335px] flex-col rounded-2xl border border-gray-200 bg-white p-3 dark:border-gray-800"
  >
    <div class="flex items-center justify-between pb-3 pl-3">
      <span
        class="text-theme-sm block font-semibold text-gray-800 dark:text-white"
        >Notificaciones</span
      >
      <a
        class="text-theme-sm block font-medium text-gray-500 hover:text-gray-600 dark:text-gray-400 dark:hover:text-gray-300"
        href="#"
        >Marcar todo como leído</a
      >
    </div>

    <ul class="custom-scrollbar flex h-auto flex-col overflow-y-auto">
      {% for notification in notifications %}
      <li>
        <a
          class="flex gap-3 rounded-lg border-b border-gray-100 p-3 px-4.5 py-3 hover:bg-gray-100 dark:border-gray-800 dark:hover:bg-white/5"
          href="{{ notification.url }}"
        >
          <span
            class="relative z-1 block h-10 w-full max-w-10 rounded-full"
          >
            <img
              src="{{ notification.user.avatar_url|default:'/static/images/user/default.jpg' }}"
              alt="User"
              class="overflow-hidden rounded-full"
            />
            <span
              class="absolute right-0 bottom-0 z-10 h-2.5 w-full max-w-2.5 rounded-full border-[1.5px] border-white dark:border-gray-900"
              :class="notification.status == 'online' ? 'bg-success-500' : 'bg-error-500'"
            ></span>
          </span>

          <span class="block">
            <span
              class="text-theme-sm mb-1.5 block text-gray-500 dark:text-gray-400"
            >
              <span class="font-medium text-gray-800 dark:text-white/90"
                >{{ notification.user.name }}</span
              >
              solicita permiso para cambiar
              <span class="font-medium text-gray-800 dark:text-white/90"
                >{{ notification.project.name }}</span
              >
            </span>

            <span
              class="text-theme-xs flex items-center gap-2 text-gray-500 dark:text-gray-400"
            >
              <span>{{ notification.category }}</span>
              <span class="h-1 w-1 rounded-full bg-gray-400"></span>
              <span>{{ notification.time_ago }}</span>
            </span>
          </span>
        </a>
      </li>
      {% empty %}
      <li>
        <span class="block p-4 text-center text-gray-500 dark:text-gray-400">
          No tienes notificaciones.
        </span>
      </li>
      {% endfor %}
    </ul>

    <a
      href="{% url 'all_notifications' %}"
      class="text-theme-sm shadow-theme-xs mt-3 flex justify-center rounded-lg border border-gray-300 bg-white p-3 font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-800 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-white/[0.03] dark:hover:text-gray-200"
    >
      Ver todas las notificaciones
    </a>
  </div>
  </li>