{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Repuestos</title>
    
    <!-- Enlace a la hoja de estilos generada por el servidor de desarrollo de React -->
    <link href="http://localhost:3000/static/style.css" rel="stylesheet">
</head>
<body>
    <!-- Aquí es donde se montará la aplicación de React -->
    <div id="root"></div>

    <!-- Enlace al bundle de JavaScript generado por el servidor de desarrollo de React -->
    <script src="http://localhost:3000/static/bundle.js"></script>
</body>
</html>
