{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Calendar | Tu Proyecto Django</title>

    </head>
  <body
    x-data="{ page: 'calendar', 'loaded': true, 'darkMode': false, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
    x-init="
      darkMode = JSON.parse(localStorage.getItem('darkMode'));
      $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'dark bg-gray-900': darkMode === true}"
  >
    {% include "partials/preloader.html" %}
    <div class="flex h-screen overflow-hidden">
      {% include "partials/sidebar.html" %}
      <div
        class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"
      >
        {% include "partials/overlay.html" %}
        {% include "partials/header.html" %}
        <main>
          <div class="mx-auto max-w-(--breakpoint-2xl) p-4 md:p-6">
            <div x-data="{ pageName: `Calendar`}">
              {% include "partials/breadcrumb.html" %}
            </div>
            <div
              class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
            >
              <div id="calendar" class="min-h-screen"></div>
            </div>

            {% include "partials/calendar-event-modal.html" %}
            </div>
        </main>
        </div>
      </div>
    <script src="{% static 'ruta/a/fullcalendar/main.js' %}"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          // Opciones de configuración del calendario
          // Aquí puedes pasar datos de Django, por ejemplo:
          events: [
            {% for event in events %}
              {
                title: '{{ event.title }}',
                start: '{{ event.start_date|date:"Y-m-d" }}',
                end: '{{ event.end_date|date:"Y-m-d" }}',
                // Puedes agregar más propiedades de eventos si las tienes
              },
            {% endfor %}
          ]
        });
        calendar.render();
      });
    </script>
  </body>
</html>