{% extends "tailadmin/base.html" %}
{% load static %}
{% load thumbnail %}
{% load leaflet_tags %}

{% block title %}
  {{ branch.name }}
{% endblock %}

{% block page_name %}
  Detalles de la Sucursal
{% endblock %}

{% block content %}
<div class="space-y-8 p-4 md:p-6">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm">
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">Imágenes</h2>
      <div id="image-carousel" class="relative w-full" data-carousel="static">
        <div class="relative h-96 overflow-hidden rounded-lg">
          {% for image in branch.images.all %}
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="{{ image.image|thumbnail_url:'800x600' }}" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
            </div>
          {% empty %}
            <div class="flex items-center justify-center h-full bg-gray-100">
              <span class="text-gray-500">No hay imágenes disponibles.</span>
            </div>
          {% endfor %}
        </div>
        {% if branch.images.count > 1 %}
          <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
          </button>
          <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          </button>
        {% endif %}
      </div>
    </div>
    <div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm">
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">{{ branch.name }}</h2>
      <p class="text-gray-600 mb-2">**Dirección:** {{ branch.address }}</p>
      <p class="text-gray-600 mb-2">**Teléfono:** {{ branch.phone_number }}</p>
      <p class="text-gray-600 mb-2">**Tiene Delivery:** {% if branch.has_delivery %}Sí{% else %}No{% endif %}</p>
      
      <h3 class="text-lg font-semibold mt-4 mb-2">Horario de atención</h3>
      <p class="text-gray-600 mb-2">**Días:** {{ branch.get_days_of_week_display }}</p>
      <p class="text-gray-600 mb-2">**Horas:** {{ branch.opening_time|time:"H:i" }} - {{ branch.closing_time|time:"H:i" }}</p>
    </div>
  </div>
</div>
{% endblock %}