{% load static %}

<header
  class="supports-backdrop-blur:bg-gray-50/90 dark:supports-backdrop-blur:bg-gray-900/90 shadow-theme-xs dark:shadow-theme-xs-dark sticky top-0 z-50 flex h-20 items-center justify-between border-b border-gray-200 bg-white/95 px-4.5 py-4 dark:border-gray-800 dark:bg-gray-dark/95 sm:px-6"
>
  <button
    aria-controls="sidebar"
    @click="sidebarOpen = !sidebarOpen"
    class="block lg:hidden"
  >
    </button>

  <div class="flex items-center gap-3.5">
    <a href="index.html" class="flex-shrink-0">
      <img src="{% static 'images/logo/logo.svg' %}" alt="Logo" />
    </a>
  </div>

  <div class="flex items-center gap-3 2xsm:gap-7">
    <ul class="flex items-center gap-2 2xsm:gap-4">
      {% include 'users/partials/_notification_dropdown.html' %}

    </ul>

    {% include 'users/partials/_user_profile_dropdown.html' %}
  </div>
</header>